<!DOCTYPE html>
<html>
<head>
    <title>dashboard</title>
    <style>
        table {
            font-size: 32px; /* smaller text */
            width: auto; /* only as wide as needed */
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            padding: 4px 6px; /* smaller padding */
            border: 1px solid #e38d8d;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        a {
            font-size: 32px; /* smaller text */
        }
    </style>
</head>
<body>
    <!--<h1>dashboard.html</h1> <a href="http://127.0.0.1:8000/change_fav_team/">Change Fav Team</a><br>
    <a href="http://127.0.0.1:8000/withdraw/">WithDraw</a>
    <p>hi {{ user.username }}</p>
    {% if favorite_team %}
    <p>Your favorite team: {{ favorite_team.name }}</p>
{% else %}
    <p>You have not selected a favorite team.</p>
{% endif %}
<p><strong>User:</strong> {{ wallet.user.username }}</p>
<p><strong>Currency:</strong> {{ currency.name }}</p>
<p><strong>Balance:</strong> {{ wallet.balance}}</p>
<p><strong>Total Supply:</strong> {{ currency.total_supply }}</p>
-->

<h1 style="display:inline;">hi {{ user.username }}</h1>
&nbsp; | &nbsp;
<a href="http://127.0.0.1:8000/change_fav_team/">Change Fav Team</a>
&nbsp; | &nbsp;
<a href="http://127.0.0.1:8000/withdraw/">Withdraw</a>
&nbsp; | &nbsp;
<a href="http://127.0.0.1:8000/admin/">Admin</a>
&nbsp; | &nbsp;
<a href="http://127.0.0.1:8000/addstock/">Add Stock</a>
&nbsp; | &nbsp;
<a href="http://127.0.0.1:8000/premtable/">Prem table</a>

    


<h1>TEST</h1><br>
<h1>TEST</h1>

     <h1>Premier League Teams from my database</h1>

     <ul>
    {% for team in teams %}
        <li>{{ team.name }}</li>
    {% endfor %}
     </ul>

    <table>
        <thead>
            <tr>
                {% for head in headers %}
                    <th>{{ head }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


   

    <a href="{% url 'logout' %}">logout</a>
</body>
</html>
